<div class="admin-users">
   <table class="table">
    <tr>
      <td>Email</td>
      <td>Orders</td>
      <td>Wishlists</td>
      <td>Reviews</td>
      <td>Administrator</td>
      <td>Remove User</td>
    </tr>
     <tr ng-repeat="user in users">
     <td>l{{ user.email}}</td>
     <td>{{user.orders.length}}</td>
     <td>{{user.wishlist.length || 0}}</td>
     <td>{{user.reviews.length}}</td>
      <td><input ng-click="toAdmin(user, user.isAdmin)" type="checkbox" ng-checked="user.isAdmin"></input></td>
      <td><button class="btn btn-danger" ng-click="removeUser(user)">Delete User</button></td>
      </tr>
   </table>
</div>