<div class="modal-content product-update-submission-holder">
    <div class="modal-header ng-scope">
        <h3 class="modal-title satisfy-font">Create A Review</h3>
    </div>
    <div class="modal-body ng-scope">
      <form name="editItem" class="edit-product-form">
      <input ng-model="productToUpdate.title"></input>
      </div>
        <textarea class="review-textarea" name="productToUpdate-description" ng-model="productToUpdate.description" placeholder="What do you think? Let other people know here!" ng-required=true></textarea>
      </form>

    </div>
    <div class="modal-footer ng-scope">
        <button type="submit" class="btn add-review-btn" type="button" ng-click="ok()" ng-disabled="review.$error.required">Submit Updates</button>
        <button class="btn cancel-review-btn" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>