<div class="admin-products">
   <ul>
      <li ng-repeat="product in products">
      <form ng-submit="editProduct(product)">
		     Title: <input ng-model="product.title" />
		     <br/>
		     Descriptoin: <input ng-model="product.description"/>
		     <br/>
		     Price: <input ng-model="product.price"/>
		     <br/>
		     Category: <input ng-model="product.category"/>
		     <br/>
		     Photo: <p>photo{{product.photo}}</p>
		     <br/>
		     Quantity: <input ng-model="product.quantity"/>
		     <br/>
		     <button type="submit">save</button>
		     <br/>
	    </form>
      </li>
   </ul>
</div>