<div class="admin-orders">
 <select ng-model="orderState">
  <option value="" selected="selected" class="form-control">All</option>
  <option value="pending">pending</option>
  <option value="shipping">shipping</option>
  <option value="completed">completed</option>
  <option value="cancelled">cancelled</option>
 </select>
    <ul class="admin-orders-list">
    
    <li ng-repeat="order in orders | filter: orderState">
     <p><strong>Date Ordered: </strong> {{ order.orderDate}}</p>
     <p><strong>Order Status: </strong>{{order.status}}</p>
      <button class="btn btn-default btn-warning" ng-hide="order.status === 'pending'" ng-click="setStatus(order, 'pending')">Pending</button>
        <button  class="btn btn-default btn-warning" ng-hide="order.status === 'shipping'" ng-click="setStatus(order, 'shipping')">Shipping</button>
        <button  class="btn btn-default btn-warning" ng-hide="order.status === 'cancelled'" ng-click="setStatus(order, 'cancelled')">Cancelled</button>
        <button class="btn btn-default btn-warning" ng-hide="order.status === 'completed'" ng-click="setStatus(order, 'completed')">Completed</button>
     <div>
      <h4>Shipping Details</h4>
      <p>{{ order.shipTo.name }}</p>
      <p>{{ order.shipTo.lineOne }}</p>
     </div>
     <div>
      <h4>Billing Details</h4>
      <p>{{ order.billWith.address }}</p>
      <p>{{ order.billWith.number }}</p>
     </div>
     <p>Items</p>
     <div class="order-item" ng-repeat="item in order.items">
          <p>{{ item.product.title }} </p>
          <p>{{ item.price }}</p>
     </div>

    </li>
  </ul>

</div>