#admin-holder{
	background-color: white;
  padding: 40px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: $dark-shadow;

  .admin-button-holder {
    text-align: center;
    margin: 10px auto;
    padding: 10px;
  }

  .admin-orders {
    background-color: white;
    padding: 20px;
    .admin-orders-list {
      padding: 20px;
      list-style-type: none;

      li {
        box-shadow: $shadow;
        border-radius: 10px;
        padding: 10px;
        margin: 20px;
        .order-item {
          display: inline-block;
          padding: 10px;
          box-shadow: 0px 0px 5px rgba(0,0,0,0.5) inset;
          vertical-align: top;
          border-radius: 6px;
        }

      }

    }

  }
}


.product-update-submission-holder {
    .edit-product-form {
      padding: 30px;

      label {
        color: #541954;
      }
      .modify-product-field {
        margin: 5px auto;
        width: 90%;
        padding: 5px;
        border-radius: 5px;
        background-color: grey;
        color: white;
        font-family: Helvetica;
      }

      .modify-product-field:focus {
        background-color: salmon;
        color: black;
      }

      .review-textarea {
        width: 90%;
        height: 250px;
      }
    }
  }