<nav class="navbar navbar-static-top">
    <div id='nav' class="container">
        <div class="navbar-header">
            <h1>Satis-Factory</h1>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li><a ui-sref="order">My Cart <span class="glyphicon glyphicon-shopping-cart"></span></a></li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login/Signup</button>
        <div ng-show="user" class="welcome">
            <button class="btn nav-btn" ui-sref="wishlists(user)">My Wishlists</button>
            <button class="btn nav-btn" ui-sref='viewuser(user)'>Welcome, {{ user.name || user.email || user.twitter.username }}!</button>
            <button ng-show="user.isAdmin" class="btn nav-btn" ui-sref="admin(user)">Admin</button>
            <button class="btn nav-btn" ng-click="logout()">Logout</button>
        </div>
    </div>
</nav>
