<section id="product-holder">
      <header>
        <h1>...satisfy your taste for {{category}}...</h1>
      </header>
      <div class="product" ng-repeat="item in items">
        <div class="pic"> 
          <img class='catimg' ng-src={{item.photo}} />
        </div>
        <div class="product-content">
          <header id='title'>
            <h3>{{item.title}}</h3>
          </header>
          <hr>
        <div id='description'>
          <p>{{item.description}}</p>
        </div>
          <br />
          <p>Purchase Satisfaction For: ${{item.price}}/unit</p>
          <button ng-click="goToProduct(item)">See Details</button>
          <button ng-click="addToOrder(item)">Add To Cart</button>
        </div>
      </div>
      <br />
    </section>



