<section id="product-holder">
      <header>
        <h1>...satisfy your taste for {{category}}...</h1>
      </header>
      <div class="product" ng-repeat="item in items">
        <div class="pic" style="background-image: url('{{ item.photo }}')"> 
          <!-- <img class='catimg' ng-src={{item.photo}} /> -->
        </div>
        <div class="product-content">
          <header id='title'>
            <h3>{{item.title}}</h3>
          </header>
          <hr>
        <div id='description'>
          <p>{{item.description}}</p>
        </div>
          <br />
          <p>Purchase Satisfaction For: ${{item.price}}/unit</p>
          <button ng-click="goToProduct(item)">See Details</button>
        </div>
      </div>  
      <br />
      <div class="clearfix"></div>
    </section>



