<div class="modal-content review-submission-holder">
        <div class="modal-header ng-scope">
            <h3 class="modal-title satisfy-font">Create A Review</h3>
        </div>
        <div class="modal-body ng-scope">
          <form name="review" class="review-form">
          <div class="review-stars-holder">
            <uib-rating ng-model="review.stars" max="5">
            </uib-rating>
          </div>
            <textarea class="review-textarea" name="review-content" ng-model="review.content" placeholder="What do you think? Let other people know here!" ng-required=true></textarea>
          </form>

        </div>
        <div class="modal-footer ng-scope">
            <span ng-show="(review.$error.required && review.$dirty)" class="label label-danger">Satis-Factory needs to know if you were satisfied!</span>
            <button type="submit" class="btn add-review-btn" type="button" ng-click="ok()" ng-disabled="review.$error.required">Submit Review</button>
            <button class="btn cancel-review-btn" type="button" ng-click="cancel()">Cancel</button>
        </div>
</div>