@mixin side-panel-tab {
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  right: -50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 10px black;
  position: absolute;
  padding: 10px;
  top: 10px;
  width: 50px;
  height: 150px;
  font-family: satisfy;
  font-size: 1.8em;
  text-align: center;
}

.side-panel {
  position: fixed;
  z-index: 200;
  width: 350px;
  height: auto;
  left: -350px;
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.55);

  .side-panel-internal {
    padding: 10px;
    header {
      font-family: satisfy, cursive;
      padding: 5px;
      color: white
    }

    ul {
      list-style-type: none;
      padding: 0px;

      li {
        margin: 5px auto;
      }
    }
  }
}

#category-selector:after {
  background-color: salmon;
  content: "Categories";
  @include side-panel-tab;
}

#search-panel {
  top: 251px;
}

#search-panel:after {
  color: salmon;
  background-color: #541954;
  content: "Search";
  @include side-panel-tab;
}

.side-panel:hover {
  transform: translate(350px);
}

.side-panel:hover ~ #main {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

input {
  font-family: satisfy;
  font-size: 18px;
}

.search-results {
  color: white;
  font-family: satisfy;
  font-size: 18px;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
}