navbar {

  display: block;
  background: black;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;

  #satis-heading {
    font-family: satisfy;
    font-size: 22px;
    padding-top: 12px;
    padding-right: 5px; 
  }

  #nav {
    background: black;
    color: white;
  }

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;

    .navbar-header {
      text-align: top;
      margin-right: 20px;
      h1 {
        font-family: satisfy;

      }
    }

  }

  a {
    color: white;
    font-family: satisfy;
    font-size: 16px;
    border: 1px solid salmon;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    &.active {
      color: white;
    }
    &:hover {
      background: salmon;
      color: black;
      text-decoration: none;
    }
    &:focus {
      background: black;
      color: white;
    }
  }

  .login-button {
    float: right;
    border: 1px solid salmon;
    margin-top: 10px;
    background: none;
    padding: 10px;
    outline: none !important;
    font-family: satisfy;
    font-size: 1.2em;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    &:hover {
      color: black;
      background-color: salmon;
    }
  }

  .welcome {
    float: right;
    margin-top: 12px;

    .nav-btn {
      font-family: satisfy;
      font-size: 16px;
      margin-right: 5px;
      padding: 10px;
      transition: all 0.25s;
      -webkit-transition: all 0.25s;
      color: white;
      cursor: pointer;
      padding: 10px;
      border: 1px solid salmon;
      background-color: black;
      border-radius: 10px;
      &:hover {
        color:black;
        background: salmon;
      }
    }
  }
}

