<h1>LOGIN</h1>
<form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<h1>SIGN UP</h1>
<form id='signup-form' name="signupForm" ng-submit='signupForm.$valid && localSignup(signup)'>
    <div class="form-group">
        <label for="email">Name</label>
        <input type="text" ng-model="signup.name" class="form-control" id="signup-email" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="signup.email" class="form-control" id="signup-email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="signup-password">Password</label>
        <input type="password" ng-model="signup.password" class="form-control" id="signup-password" placeholder="Password">
    </div>
    <button type='submit' class='btn btn-default'>Sign up</button>
</form>