@mixin button-transition {
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}


#product {
  text-align: center;
  border-radius: 10px;
  padding: 0px 0px 20px 0px;
  box-shadow: $dark-shadow;

  button {
    outline: none;
    margin: 10px;
    @include button-transition;
    span {
      margin-right: 10px;
    }
  }

  button:hover {
    box-shadow: $shadow;
  }

  button:active {
    box-shadow: none;
  }

  .product-img {
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    @include background-image-orientation;
    .stars {
      background-color: rgba(0,0,0,0.65);
      width: 250px;
      border-radius: 5px;
      position: absolute;
      font-size: 2em;
      color: gold;
      bottom: 10px;
      left: 10px; 
    }

    .add-a-review {
      position: absolute;
      right: 10px;
      bottom: 10px;
      margin-bottom: 0px;
      @include button-transition;
    }

    .add-a-review:hover {
      color: salmon;
    }
  }

  .product-article {
    position: relative;
    padding: 0px 20px;

    .product-header {
      padding: 0px 10px 0px 10px;
      h1 {
        font-family: satisfy;
      }
    }

    .product-purchase-details {
      display: inline-block;
      width: 33%;
      border: 1px solid #C1B5B5;
      border-radius: 10px;
      padding: 10px 0px 10px 0px;

      .add-to-cart {
        color: #333;
        background-color: salmon;
      }

      .add-to-wishlist {
        background-color: #541954;
        color: salmon;
      }

    }

    .product-description {
      display: inline-block;
      width: 66%;
      font-size: 1.5em;
      text-align: left;
      padding: 20px;
    }
  }

  background-color: rgba(255,255,255,0.95);
}