@font-face {
  font-family: satisfy;
  src: url('./fonts/Satisfy/Satisfy-Regular.ttf');
}

body {
  background-image: url('/backgrounds/wood_2.png');
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  background-color: black;
  z-index: 100;
  box-shadow: $dark-shadow;
}


.toolbar-button {
  border: 1px solid white;
  border-radius: 10px;
  font-family: satisfy;
  font-size: 1.4em;
  outline: none;
  background-color: grey;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  width: 150px;
  text-align: center;
  margin: 5px;
  cursor: pointer;

}

.toolbar-button:hover {
  color: white;
  border-color: salmon;
  background-color: black;
}

.toolbar-button:active {
  border-color: grey;
  background-color: salmon;
  color: black;
}

input[type='text'] {
  border-radius: 5px;
  outline: none;
  border: 1px solid white;  
  background-color: black;
}

input[type='text']:focus {
  background-color: salmon;
}

label {
  margin: 10px;
  display: block;
  color: white;
  font-family: satisfy;
}

#logo {
  display: inline-block;
  margin-left: 40px;
  color: white;
  font-family: satisfy;
}

.catimg {
  width: 300px;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


#tools {
  display: inline-block;
  margin-left: 100px;
}


.internal-holder {
  padding: 20px;

  header {
    h3 {
      font-family: satisfy;
      font-height: 1.2em;
      color: salmon;
    }
  }
}

#product-holder {
  top: 20px;
  padding: 20px;
  margin: 0px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5 ease-in-out;
  header {
    h1 {
      color: white;
      font-family: satisfy;
    }
  }
  .product {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    box-shadow: $dark-shadow;
    margin: 15px;


    .product-content {
      display: inline-block;
      padding: 10px;
    }

    .pic {
      display: block;
      height: 45%;
      width: 100%; 
      @include background-image-orientation;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

    }
  }

  .product:hover {

  }

}

#product-holder:after{
  clear: both;
  content: " ";
  width: 100%;
}

#title{
  overflow:auto;
  font-size: auto;
}

#description {
  overflow: auto;
}

h3 {
  overflow:auto;
  height: 20%;
  text-align:center;
  margin: 0px 0px;
}

footer {
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: salmon;
  bottom: 0px;

  ul {
    font-family: satisfy;
    li {
      display: inline-block;
    }
  }

}