* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 0px;
  width: 1200px;
  margin: 0 auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'categories/main';
@import 'product/main';
@import 'checkout/main';
@import 'order/order';
@import 'wishlist/main';
@import 'admin/main';
@import 'confirmation/confirmation';
