.wishlists {
	text-align: center;
	color: white;
	font-size: 3em;
}

.a-wishlist {
	text-align: center;
	color: red;
	font-size: 1em;
}

.link {
	text-align: center;
	color: white;
	font-size: 2em;
}

.center {
	text-align: center;
}